{% extends 'blog/base.html' %}

{% load static %}


{% block content %}
<div class="col-sm-10">
    <h3 class="text-white my-5">About ME</h3>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Placeat, necessitatibus accusantium deserunt quae delectus alias. Magnam dicta totam at fugiat error autem? Nesciunt quasi libero nulla iusto ea, laborum ducimus?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium, mollitia! Nulla dignissimos adipisci nobis neque veniam libero aut facilis quam velit eveniet quis ut amet, veritatis magnam dolores, voluptatum perferendis odio iusto voluptates exercitationem eaque voluptate quos modi. Modi eius rerum voluptas aliquid iste quisquam sunt neque facere at nesciunt!</p>
</div>
{% endblock %}




